header {
    margin-top: var(--size-10);
    border-bottom: 1px solid lightgray;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.top-nav .image img {
    max-width: var(--size-150);
    margin-right: var(--size-100);
}

.top-nav .profile span {
    font-size: var(--size-40);
    vertical-align: middle;
    margin-right: var(--size-20);
}

.top-nav .profile img {
    max-width: var(--size-50);
}

.top-nav .image .search {
    width: 600px;
    height: var(--size-30);
    border-radius: 30px;
    padding: 0 20px;
    border-width: thin;
}

.bottom-nav {
    margin: var(--size-10) 0;
}

.bottom-nav .container {
    display: flex;
    justify-content: space-between;
}

.bottom-nav .container .rt-btm-nav,
.bottom-nav .container .lf-btm-nav {
    display: flex;
}

.bottom-nav .container .rt-btm-nav li,
.bottom-nav .container .lf-btm-nav li {
    margin-right: var(--size-20);
}

.bottom-nav .container a {
    color: darkgrey;
}

.result-number {
    margin-top: var(--size-10);
}